<main>
    <h1>Login</h1>
    <form id="login-form"> <!--specify POST otherwise default to GET-->
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
        <div id="error-message"></div>
    </form>
    <!--provide option to sign-up if new user-->
    <h3>Don't have an account? <a href="/signup">Sign up here!</a></h3>
</main>
<script src="/js/login.js"></script>